main{
  padding: 1rem 5rem;
}

clr-dg-cell{
  line-height: 0.9rem !important;
}

clr-dg-row{
  cursor: pointer;
}

.tooltip-content {
  background-color: white;
}

clr-combobox-container {
  margin: 0;
}
