<main>
    <p>Folders</p>
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <clr-datagrid>
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

                <clr-dg-row *clrDgItems="let folder of folders" (click)="openFolder(folder.id)">
                    <clr-dg-cell>{{folder.name}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer (click)="getFolders()">{{folders?.length || 0}} folder(s)</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>

    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <button type="button" class="btn btn-icon" aria-label="add" (click)="showAddNewFolderModal = true">
                <clr-icon shape="plus"></clr-icon>
            </button>
        </div>
    </div>

    <clr-modal [(clrModalOpen)]="showAddNewFolderModal">
        <h3 class="modal-title">Add document</h3>
        <div class="modal-body">
            <form clrForm>
                <clr-input-container>
                    <label>Field 1 label</label>
                    <input clrInput type="text" name="example" />
                </clr-input-container>
                <clr-input-container>
                    <label>Field 2 label</label>
                    <input clrInput type="text" name="example" />
                </clr-input-container>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="showAddNewFolderModal = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="showAddNewFolderModal = false">Ok</button>
        </div>
    </clr-modal>
</main>
