<main>
    <p>Folders</p>
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <clr-datagrid>
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

                <clr-dg-row *clrDgItems="let folder of folders" (dblclick)="openFolder(folder.id)">
                    <clr-dg-action-overflow>
                        <button class="action-item" (click)="openFolder(folder.id)">Open</button>
                        <button class="action-item" (click)="deleteFolder(folder)">Delete</button>
                    </clr-dg-action-overflow>
                    <clr-dg-cell>{{folder.name}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer (click)="getFolders()">{{folders?.length || 0}} folder(s)</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>

    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <button type="button" class="btn btn-icon" aria-label="add" (click)="showAddNewFolderModal = true">
                <clr-icon shape="plus"></clr-icon>
            </button>
        </div>
    </div>

    <clr-modal [(clrModalOpen)]="showAddNewFolderModal">
        <h3 class="modal-title">Add document</h3>
        <div class="modal-body">
            <form clrForm [formGroup]="form">
                <clr-input-container>
                    <label>Folder name:</label>
                    <input clrInput type="text" name="folderName" formControlName="folderName"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Location:</label>
                    <input  clrInput type="text" name="location"  formControlName="location"/>
                </clr-input-container>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="showAddNewFolderModal = false">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
        </div>
    </clr-modal>
</main>
