<header class="header header-6">
    <div class="branding">
        <a href="javascript:void(0)">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Document System</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="/folders" class="active nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a>
        <clr-dropdown [clrCloseMenuOnItemClick]="false" (click)="getLists()">
            <button clrDropdownTrigger aria-label="Lists" class="active nav-link nav-icon">
                <clr-icon shape="list" direction="down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <label class="dropdown-header" aria-hidden="true">Lists:</label>
                <div *ngFor="let list of lists" (click)="openList(list.id)">
                    <div clrDropdownItem>{{list.name}}</div>
                </div>
                <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                <div clrDropdownItem (click)="addList()">Add new list</div>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
            <button clrDropdownTrigger aria-label="Lists" class="active nav-link nav-icon">
                <clr-icon shape="user" direction="down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <div clrDropdownItem (click)="openUsers()">Users</div>
                <div clrDropdownItem (click)="openPermissions()">Permissions</div>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
    <div class="settings">
        <a [routerLink]="['/login']" *ngIf="!isLoggedIn" class="nav-link">
            Login
        </a>
        <span *ngIf="isLoggedIn" class="nav-link">
                Hello, {{username}}
            </span>
        <span (click)="signOut()" *ngIf="isLoggedIn" class="nav-link">
                Logout
            </span>
    </div>
</header>
