<div style="z-index:412323 !important;" class="alert alert-app-level alert-{{alert.type}}" *ngIf="alert.show">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
            </div>
            <div class="alert-text">
               {{alert.message}}
            </div>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>
<header class="header header-6">
    <div class="branding">
        <a href="javascript:void(0)">
            <clr-icon style="color: white !important" shape="file"></clr-icon>
            <span class="title">Document System</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="/folders" class="active nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a>
        <clr-dropdown [clrCloseMenuOnItemClick]="false" (click)="getLists()">
            <button clrDropdownTrigger aria-label="Lists" class="active nav-link nav-icon">
                <clr-icon shape="list" direction="down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <label class="dropdown-header" aria-hidden="true">Lists:</label>
                <div *ngFor="let list of lists" (click)="openList(list.id)">
                    <div clrDropdownItem>{{list.name}}</div>
                </div>
                <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                <div clrDropdownItem (click)="addList()">Add new list</div>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
            <button clrDropdownTrigger aria-label="Lists" class="active nav-link nav-icon">
                <clr-icon shape="user" direction="down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <div clrDropdownItem (click)="openUsers()">Users</div>
                <div clrDropdownItem (click)="openPermissions()">Permissions</div>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
    <div class="settings">
        <a [routerLink]="['/login']" *ngIf="!isLoggedIn" class="nav-link">
            Login
        </a>
        <span *ngIf="isLoggedIn" class="nav-link">
                Hello, {{username}}
            </span>
        <span (click)="signOut()" *ngIf="isLoggedIn" class="nav-link">
                Logout
            </span>
    </div>
</header>
