main{
  padding: 1rem 5rem;
}

:host ::ng-deep .clr-accordion-inner-content{
  padding: 0.6rem !important;
  overflow: auto;
  max-height: 23rem;
}

clr-select-container{
  margin-top:0 !important;
}

cds-icon-button{
  margin-right: 1px;
}

