<main>
    <p>Documents</p>
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <clr-datagrid>
                <clr-dg-column [clrDgField]="'name'">Actions</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Modify User</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Store User</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Document Type</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Company</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Contact</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Status</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Amount</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Number</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Date</clr-dg-column>

                <clr-dg-row *clrDgItems="let document of documents" (dblclick)="showModal(document)">
                    <clr-dg-cell>
                        <div clr-layout="horizontal gap:sm">
                            <cds-icon-button title="Open Document" action="outline" size="sm" (click)="showModal(document)">
                                <clr-icon shape="script-execute"></clr-icon>
                            </cds-icon-button>
                            <cds-icon-button title="View Audits" action="outline" size="sm" (click)="showAuditsModal(document)">
                                <clr-icon shape="history"></clr-icon>
                            </cds-icon-button>
                            <cds-icon-button title="Link" action="outline" size="sm" (click)="showLinksModal(document)">
                                <clr-icon shape="link" ></clr-icon>
                            </cds-icon-button>
                            <cds-icon-button (click)="removeDocument(document)" title="Delete" action="outline" status="danger" size="sm">
                                <clr-icon shape="times"></clr-icon>
                            </cds-icon-button>
                        </div>

                    </clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.name}}</clr-dg-cell>
                    <clr-dg-cell>{{document.modifyUser}}</clr-dg-cell>
                    <clr-dg-cell>{{document.storeUser}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.documentType}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.company}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.contact}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.status}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.amount}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.number}}</clr-dg-cell>
                    <clr-dg-cell>{{document.userFields.date}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Documents per page</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} documents
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <button type="button" class="btn btn-icon" aria-label="add" (click)="showAddNewDocumentModal = true">
                <clr-icon shape="plus"></clr-icon>
            </button>
        </div>
    </div>
    <clr-modal [(clrModalOpen)]="showDocument" [clrModalSize]="'xl'">
        <h3 class="modal-title">{{isCurrentDocumentVersion() ? ('Document: ' + currentDocument?.userFields.name) : ('Version ' + currentDocument?.versionNumber + ': ' + currentDocument?.userFields.name)}}</h3>
        <div  class="modal-body">

            <div class="clr-row">
                <div class="clr-col-9">
                    <app-viewer *ngIf="showViewer"></app-viewer>
                </div>
                <div class="clr-col-3">
                    <clr-accordion>
                        <clr-accordion-panel>
                            <clr-accordion-title>File controls</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                                <form clrForm>
                                    <clr-select-container>
                                        <label>File: </label>
                                        <select style="width: 95%" clrSelect (change)="changeFile($event.target.value)">
                                            <option *ngFor="let elem of files"[value]="elem.number">
                                                {{elem['originalFileName']}}
                                            </option>
                                        </select>

                                    </clr-select-container>
                                    <div style="text-align:center; margin-top: 10px;">
                                        <input class="form-control" type="file" id="selectedFile" style="display: none;"
                                               (change)="onFileChange($event)">
                                        <button class="btn btn-sm btn-outline" onclick="document.getElementById('selectedFile').click();">Browse</button>
                                        <button (click)="uploadFileToDocument()" class="btn btn-sm btn-primary">Upload</button>
                                    </div>
                                </form>
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title>Document Fields</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                            <form class="clr-form clr-form-vertical"  [formGroup]="documentForm">
                                <div class="clr-form-control">
                                    <label for="name" class="clr-control-label">Name</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="text" id="name" placeholder="Name" class="clr-input" name="name" formControlName="name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="company" class="clr-control-label">Company</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="text" id="company" placeholder="Company" class="clr-input" name="company" formControlName="company"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="documentType" class="clr-control-label">Document Type</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="text" id="documentType" placeholder="Document Type" class="clr-input" name="documentType" formControlName="documentType"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="status" class="clr-control-label">Status</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="text" id="status" placeholder="Status" class="clr-input" name="status" formControlName="status"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="number" class="clr-control-label">Number</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="number" id="number" placeholder="Number" class="clr-input" name="number" formControlName="number"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="contact" class="clr-control-label">Contact</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="text" id="contact" placeholder="Contact" class="clr-input" name="contact" formControlName="contact"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-form-control">
                                    <label for="amount" class="clr-control-label">Amount</label>
                                    <div class="clr-control-container">
                                        <div class="clr-input-wrapper">
                                            <input type="number" id="amount" placeholder="Amount" class="clr-input" name="amount" formControlName="amount"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                <div>
                                    <button class="btn btn-link" (click)="updateFields()" [attr.disabled]="!formHasChanged ? '' : null">Update</button>
                                </div>
                            </clr-accordion-content>

                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title>Versioning</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                                <div *ngIf="isCurrentDocumentVersion()">
                                    <div *ngFor="let version of versionsToShow">
                                        <span style="font-weight: bold">Version {{version.versionNumber}}:</span>
                                        <button class="btn btn-link btn-sm" (click)="openDocument(version)">Open</button>
                                    </div>
                                </div>
                                <div *ngIf="!isCurrentDocumentVersion()">
                                    <span style="font-weight: bold">Original :</span>
                                    <button class="btn btn-link btn-sm" (click)="openDocument(originalDocument)">Open</button>
                                </div>
                                <div style="text-align:center;" *ngIf="isCurrentDocumentVersion()">
                                    <button (click)="createNewVersion()" class="btn btn-sm btn-primary">New Version</button>
                                </div>

                            </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                            <clr-accordion-title>Comments</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                                <div *ngFor="let comment of commentsToShow">
                                    <span style="font-weight: bold">{{comment.created.substring(0,10)}} : {{comment.createdUser}}:</span>
                                    <span> {{comment.content}}</span>
                                </div>
                                <div>
                                    <textarea clrTextarea [(ngModel)]="commentValueModel" required></textarea>
                                    <div style="text-align:center;">
                                        <button (click)="postComment()" class="btn btn-sm btn-primary">Post</button>
                                    </div>
                                    <div *ngFor="let comment of commentsToShow">

                                    </div>
                                </div>

                            </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                </div>
            </div>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="showAddNewDocumentModal">
        <h3 class="modal-title">Add document</h3>
        <div class="modal-body">
            <form clrForm [formGroup]="form">
                <clr-input-container>
                    <label>Document Name:</label>
                    <input clrInput type="text" name="name" formControlName="name"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Document Type:</label>
                    <input  clrInput type="text" name="documentType"  formControlName="documentType"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Company:</label>
                    <input  clrInput type="text" name="company"  formControlName="company"/>
                </clr-input-container>
                <clr-date-container>
                    <label>Date:</label>
                    <input type="date" clrDate name="date" formControlName="date"/>
                </clr-date-container>
                <clr-input-container>
                    <label>Contact:</label>
                    <input  clrInput type="text" name="contact"  formControlName="contact"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Status:</label>
                    <input  clrInput type="text" name="status"  formControlName="status"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Amount:</label>
                    <input  clrInput type="number" name="amount"  formControlName="amount"/>
                </clr-input-container>
                <clr-input-container>
                    <label>Number:</label>
                    <input  clrInput type="number" name="number"  formControlName="number"/>
                </clr-input-container>
                <clr-input-container>
                    <label>File:</label>
                    <input  clrInput type="file" name="file"  (change)="onFileChange($event)"/>
                </clr-input-container>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="showAddNewDocumentModal = false">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="showAuditsModalFlag">
        <h3 class="modal-title">View Audits</h3>
        <div class="modal-body">
            <table class="table" *ngIf="auditsToShow">
                <thead>
                <tr>
                    <th>Event Type:</th>
                    <th>Event Date:</th>
                    <th>User:</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let audit of auditsToShow">
                    <td>{{audit.eventType}}</td>
                    <td>{{parseDateToString(audit.eventDate)}}</td>
                    <td>{{audit.userInitiated}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="showAuditsModalFlag = false">Close</button>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="showLinksModalFlag">
        <h3 class="modal-title">Add link to document</h3>
        <div class="modal-body">
            <form clrForm>
                <clr-input-container>
                    <label>Password:</label>
                    <input clrInput type="text" name="password" [(ngModel)]="linksPasswordModel"/>
                </clr-input-container>
                <clr-date-container>
                    <label>Valid until:</label>
                    <input type="date" clrDate name="demo" [(ngModel)]="linksDateModel" />
                </clr-date-container>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="createLink()">Create link</button>
            <button type="button" class="btn btn-outline" (click)="showLinksModalFlag = false">Close</button>
        </div>
    </clr-modal>
</main>
