<main>
    <p>Documents</p>
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-12">
            <clr-datagrid>
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Size</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Modify Date</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Modify User</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Files Count</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Store Date</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Store User</clr-dg-column>

                <clr-dg-row *clrDgItems="let document of documents" (dblclick)="showModal(document.id)">
                    <clr-dg-cell>{{document.name}}</clr-dg-cell>
                    <clr-dg-cell>{{document.size}}</clr-dg-cell>
                    <clr-dg-cell>{{document.modifyDate}}</clr-dg-cell>
                    <clr-dg-cell>{{document.modifyUser}}</clr-dg-cell>
                    <clr-dg-cell>{{document.filesCount}}</clr-dg-cell>
                    <clr-dg-cell>{{document.storeDate}}</clr-dg-cell>
                    <clr-dg-cell>{{document.storeUser}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>2500 users</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>

    <clr-modal [(clrModalOpen)]="showDocument" [clrModalSize]="'xl'">
        <div  class="modal-body">
            <app-viewer *ngIf="showDocument"></app-viewer>
        </div>
    </clr-modal>
</main>
