<div class="login-wrapper">
    <form class="login"
          *ngIf="!isLoggedIn"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          novalidate>
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Company Product Name
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only" >Username</label>
                <input type="text" name="username" clrInput placeholder="Username" formControlName="username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only" >Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>
            <div *ngIf="isLoginFailed" class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">NEXT</button>
            <a href="javascript://" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>